.RBB_1 {
	background-image: url(PlainBackground.png);
	background-repeat: repeat;
	background-size: 100%;
}

.RBB_2 {
	background-image: url(PlainBackground2.png);
	background-repeat: repeat;
	background-size: 100%;
}

.RBB_3 {
	background-image: url(PlainBackground3.png);
	background-repeat: repeat;
	background-size: 100%;
}

.RBB_4 {
	background-image: url(PlainBackground4.png);
	background-repeat: repeat;
	background-size: 100%;
}

.RBB_2_Box {
	background-color: white;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flowers {
	text-align: center;
}

a:hover,
a:visited {
	color: #000;
}
